@import url('https://fonts.googleapis.com/css?family=Arvo:400i,700,700i|Merriweather:400,400i,700,700i,900,900i&subset=latin-ext');

body {
  margin: 5%;
  text-align: justify;
  font-size: small;
  font-family: Merriweather, serif;
  line-height: 1.75;
}
code { font-family: monospace; }
h1 { text-align: left; color: #333; }
h2 { text-align: left; color: #444; }
h3 { text-align: left; color: #555; }
h4 { text-align: left; color: #555; }
h5 { text-align: left; color: #555; }
h6 { text-align: left; color: #555; }
h1, h2, h3, h4, h5, h6 {
  font-family: Arvo;
}
h1.title { text-align: center; }
h2.author { text-align: center; }
h3.date { text-align: center; }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }