<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>org.iandol.dotfilesSync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/fdautil</string>
		<string>exec</string>
		<string>/usr/local/bin/elvish</string>
		<string>/Users/ian/.dotfiles/bin/dotfilesSync.elv</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/githubsync.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/githubsync.out</string>
	<key>StartInterval</key>
	<integer>86400</integer>
</dict>
</plist>
